* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shrub {
  height: 100vh;
  width: 40vw;
}

.logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 47, 47, 0.712);
  height: auto;
  width: 40vw;
  margin-top: 175px;
}

.logo {
  height: 20vh;
  filter: invert();
}

.logo-text {
  font-size: 40px;
  color: white;
}

.credits {
  position: absolute;
  bottom: 1.5vh;
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 60vw;
  background-color: rgb(250, 250, 250);
}

.top-text {
  font-weight: 500;
  font-size: 20px;
  padding-left: 3vw;
  padding-right: 10vw;
}

#main-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-text {
  background-color: white;
  padding-left: 3vw;
  padding-right: 10vw;
  padding-bottom: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.form-title {
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  padding-right: 30px;
  width: 40%;
}

label {
  font-size: 10px;
  font-weight: 500;
}

button {
  margin: 30px;
  color: white;
  background-color: #53644f;
  border: none;
  border-radius: 4px;
  padding: 5px, 30px, 5px, 30px;
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
}

.end {
  padding-left: 3vw;
  padding-right: 10vw;
}

.too-bad {
  color: #53644f;
}
